<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resale.shop.mapper.GoodsMapper">
    <select id="selectGoodsAll" resultType="com.resale.shop.data.GoodsVO">
        select * from
        (
            select
            a.*, b.gc_name AS category_name, c.bi_name AS brand_name
            FROM 
            goods_info AS a
            LEFT JOIN goods_category AS b ON a.gi_gc_seq = b.gc_seq
            LEFT JOIN brand_info AS c ON a.gi_bi_seq = c.bi_seq 
        ) d
        <if test="type == 'brand'">
            where brand_name like #{keyword}
        </if>
        <if test="type == 'name'">
            where gi_name like #{keyword}
        </if>
        order by gi_seq desc
        limit 10 offset #{offset}
    </select>
    <select id="getGoodsCount" resultType="java.lang.Integer">
        select count(*) from
        (
            select
            a.*, b.gc_name AS category_name, c.bi_name AS brand_name
            FROM 
            goods_info AS a
            LEFT JOIN goods_category AS b ON a.gi_gc_seq = b.gc_seq
            LEFT JOIN brand_info AS c ON a.gi_bi_seq = c.bi_seq
        ) d
        <if test="type == 'brand'">
            where brand_name like #{keyword}
        </if>
        <if test="type == 'name'">
            where gi_name like #{keyword}
        </if>
    </select>
    <insert id="addGoods">
        insert into goods_info(gi_bi_seq, gi_gc_seq, gi_name, gi_sub, gi_price, gi_stock)
        values(#{gi_bi_seq}, #{gi_gc_seq}, #{gi_name}, #{gi_sub}, #{gi_price}, #{gi_stock})
    </insert>
    <delete id="deleteGoods">
        delete from goods_info where gi_seq=#{seq}
    </delete>
    <!-- seq가 없는 것도 정상 실행되는 것 방지 -->
    <select id="isExistGoods" resultType="java.lang.Integer">
        select count(*) from goods_info where gi_seq = #{seq}
    </select>
    <select id="getGoodsInfoBySeq" resultType="com.resale.shop.data.GoodsVO">
    select * from (
        select
            a.*,
            b.gc_name AS gategory_name,
            c.bi_name AS brand_name
            FROM goods_info AS a
            LEFT JOIN goods_category AS b
            ON a.gi_gc_seq = b.gc_seq
            LEFT JOIN brand_info AS c
            ON a.gi_bi_seq = c.bi_seq
    ) d
    where gi_seq=#{seq}
    </select>
    <update id="updateGoods">
        update goods_info
        set gi_bi_seq=#{gi_bi_seq}, gi_gc_seq=#{gi_gc_seq}, gi_name=#{gi_name}, gi_sub=#{gi_sub},
        gi_price=#{gi_price}, gi_stock=#{gi_stock}, gi_mod_dt=NOW()
        where gi_seq=#{gi_seq}
    </update>
    <select id="selectLatestDataSeq" resultType="java.lang.Integer">
        select gi_seq from goods_info
        order by gi_seq desc limit 1
    </select>
    <insert id="insertGoodsHistory">
        insert into mall_db.goods_history(goh_type, goh_content, goh_gi_seq)
        values (#{goh_type}, #{goh_content}, #{goh_gi_seq})
    </insert>
    <select id="getBrandByKeyword" resultType="com.resale.shop.data.BrandVO">
        select bi_seq, bi_name from brand_info
        where bi_name like #{keyword}
    </select>
</mapper>